
spring:
  datasource:
    platform: mariadb
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3309/springlessons
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
  # Enable global CORS configuration
  mvc:
    cors:
      allowed-origins: "*"


server:
    port: 8080



logging:
  level:
    org:
      springframework:
        security: DEBUG